<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-8 col-md-offset-0">
       <h1 class="title">让专业资源成为您的优势</h1>
       <p class="slogan">高素养财务人员和优质企业的网站
         <br>
         提供高薪、优质工作
         <br>
         Winner
       </p>
       <p class="lead">
         <%= link_to '财务人点此', jobs_path, class: 'btn btn-danger' %>
         <%= link_to '单位点此', admin_jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">工作、人才</h2>
        <p class="lead">无需走远，高薪工作和优质人才就在身边</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-4.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">履历分类</h2>
        <p class="lead">财务精英履历，尽在  <a target="_blank" href="http://iwan2000-blog.logdown.com">财富人生招聘网</a></p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">查应聘单位<br>找人才</h2>
        <p class="lead">参考<a target="_blank" href="https://forum.qzy.camp/">网站资源</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
